@media only screen and (max-width:800px){
    #nov2 {
        border-radius: 15px; border:solid; border-color: white;
        margin-bottom: 50px;
        width:96%;
    }
    #nov3 {
        border-radius: 15px; border:solid; border-color: magenta;
        margin-bottom: 50px;
        width:96%;
    }
    #nov4 {
        border-radius: 15px; border:solid; border-color: firebrick;
        margin-bottom: 50px;
        width:96%;
        clear: both;
    }
    .oldChange {
        height: 2400px;
        overflow: auto;
    }
    .patchTit{
        color:red;
        font-weight: bold;
        text-align: center;
    }
}
@media only screen and (min-width:800px){
    #nov2 {
        border-radius: 15px; border:solid; border-color: white;
        margin-bottom: 50px;
        width:47%;
        margin-left: 20px;
        float: right;
    }
    #nov3 {
        border-radius: 15px; border:solid; border-color: magenta;
        margin-bottom: 50px;
        width:47%;
        margin-right: 20px;
        float: left;
        
    }
    #nov4 {
        border-radius: 15px; border:solid; border-color: firebrick;
        margin-bottom: 50px;
        width:47%;
        float:right;
    }
    .oldChange {
        height: 2400px;
        overflow: auto;
    }
    .patchTit{
        color:red;
        font-weight: bold;
    }
}
footer {
    clear: both;
}
input {
    color:white;
    background-color: crimson;
    border-radius: 5px; border:solid; border-color: white;
    border-width: 1px;
}