a+h1 {
    display: inline-block;
    color:white;
    
}
img+h1 {
    display: inline-block;
    color:white;
}
h1+nav {
    display: inline-block;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #133250;
}


h1 {
    font-size: 500%;
    color:whitesmoke;
}
.titol {
    font-weight: lighter;

}
header {
    border-radius: 15px;
    border-color: white;
    border:solid;
    background-color: red;

}
nav h2 {
    color:whitesmoke;
}
nav a {
    border-radius: 30px;
    border:solid;
    border-color:white;
    color:crimson;
    background-color: whitesmoke;
    
}
nav a:hover {
    border-radius: 30px;
    border:solid;
    border-color:royalblue;
    
}
a.active {
    background-color:royalblue;
    color:white;
    border-color: white;

    
}
footer {
    background-color:firebrick;
    color:white;
    border-radius: 15px;
    font-weight: lighter;
    padding-left: 10px;
    
}
h3 {
    color:whitesmoke;
    font-weight: lighter;
}

button {
    width: 220px;
    height: 30px;
    background-color: white;
    color:midnightblue;
    border-radius: 5px;
    
}
.tit {
    zoom:220%;
    color:red;
    font-weight: lighter;
    
}
a.but {
border: transparent;
}
img.sfo {
    max-width: 45%;
    image-resolution:10%;
}
#sfi {
    max-width: 35%;
    display: inline;
    vertical-align: top;
    
}
section h2:hover {
    zoom:320%;
}


article, figure, a, img#sfondone {
    max-width: 52%;
    display: inline;
    
    
    
    
}
#txt {
    vertical-align: top;
    text-align:end;
    
    
    
}
* {
    color:white;
}
#kkkk {
    zoom:155%;
}
button:hover {
    background-color: darkred;
    border-radius: 5px;
    border:solid;
    border-color: crimson;
    color:white;
}
.icon {
    width: 10%;
    vertical-align:middle;
   
    clear:both;
}
.icon:hover {
    animation-name: def;
    animation-duration: 1s;
    position: relative;
    animation-fill-mode: both;
}
@keyframes def {
    from { top:0px;}
    to {top:-10px;}
}
.tipo p {
    border-radius: 5px; border:solid; border-color: white;
    zoom: 180%;
}
.tipo p:hover {
    animation-name: amla;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}
@keyframes amla {
    from {color:white; background-color: #133250;}
    to {color:#133250; background-color: white;}
}
.sfff {
    display: inline;
}
@media (max-width:750px) {
    .icon {
        width: 30%;
        
    }
    #cop2 {
        width: 100%;
        margin-top: 50px; 
    }
    .tipo {
        margin-top: 50px;
        text-align: center;
    }
    nav h2 a {
        text-align:center;
    }
    h1 {
        text-align: center;
    }
    .tit {
        text-align: center;
    }
    #cop1 {
        display: none;
    }
    

}
@media (min-width:751px){
    .tipo {
        margin-top: 50px;
        text-align: center;
    }
    #cop1 {
        width: 35%;
        float: right;
    }
    .icon {
        width: 20%;
    }
    #cop2 {
        display: none;
    }

}
