a+h1 {
    display: inline-block;
    color:white;
    
}
#ii {
    border-radius: 10px;
    padding-left: 5px;
    width: 80px;
}
img+h1 {
    display: inline-block;
    color:white;
}
h1+nav {
    display: inline-block;
}
nav {
    margin-top: -20px;
    width:100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*background-color: #133250; */
    background-color: #052134; 
}


h1 {
    font-size: 500%;
    color:whitesmoke;
}
.titol {
    font-weight: lighter;

}
header {
    border-radius: 0px;
    border-color: white;
    border:none;
    background-color: red;
    margin: -10px;


}
nav h2 {
    color:whitesmoke;
}
nav a {
    border-radius: 30px;
    border:solid;
    border-color:white;
    color:crimson;
    background-color: whitesmoke;
    border-spacing: 10px;
    text-decoration: none;
    border-width: 2px;
    display: inline-block;
    width: 16%;
    text-align: center;
}
nav a:hover {
    border-radius: 30px;
    border:solid;
    border-color:firebrick;
    text-decoration: none;
    border-width: 2px;
    
}
a.active {
    background-color:crimson;
    color:white;
    border-color: white;
    border-width: 2px;
}
footer {
    background-color:firebrick;
    color:white;
    border-radius: 0px;
    font-weight: lighter;
    padding-left: 10px;
    overflow: auto;
    margin-top: 20px;
    margin: -10px;
    clear:both;
}
h3 {
    color:whitesmoke;
    font-weight: lighter;
}

button {
    width: 220px;
    height: 30px;
    background-color: white;
    color:midnightblue;
    border-radius: 5px;
    
}
.tit {
    zoom:220%;
    color:red;
    font-weight: lighter;
    
}
a.but {
border: transparent;
}


section h2:hover {
    font-weight: normal;
}


article, figure, a, img#sfondone {
    max-width: 52%;
    display: inline;
}
#txt {
    vertical-align: top;
    text-align:end;
    
    
    
}
* {
    color:white;
}
#kkkk {
    zoom:155%;
}
button:hover {
    background-color: darkred;
    border-radius: 30px;
    border:solid;
    border-color: crimson;
    color:white;
}
.icon {
    width: 10%;
    vertical-align:middle;
    text-align: center;
    clear:both;
}
.icon:hover {
    animation-name: def;
    animation-duration: 1s;
    position: relative;
    animation-fill-mode: both;
}
@keyframes def {
    from {top:0px;}
    to {top:-20px;}
}

@keyframes amla {
    from {color:white; background-color: #133250;}
    to {color:#133250; background-color: white;}
}
.sfff {
    display: inline;
}
@media only screen and (max-width:700px) {
    .icon {
        width: 32%;
        
    }
    #titol{
        font-size: 14vw;
    } 
    footer {
        margin-top: 20px;
    }
    #cop2 {
        width: 100%;
        margin-top: 50px; 
    }
    .tipo {
        margin-top: 50px;
        text-align: center;
    }
    nav h2 a {
        text-align:center;
        width: auto;
    }
    h1 {
        text-align: center;
    }
    .tit {
        text-align: center;
    }
    #cop1 {
        display: none;
    }
    #nov {
        border-radius: 30px 0px; border:solid; border-color: white;
        width: 100%;
        float:none;
    }
    #tit3 {
        color:red;
        zoom: 150%
    }
    
    p {
        text-align: justify;
    }
    .dat {
        text-align: right;
    }
    #vhs {
        border-radius: 30px; border:solid; border-color: crimson;
        width:100%;
        float:none;
        clear:left;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #eroi {
        width: 98%;
        border-radius: 30px; border:solid; border-color:fuchsia;
        margin-bottom: 20px;
        clear: left;
        padding:3px;
    }
    #pA {
        border-radius: 15px; border:solid; border-color: darkred;
        width:100%;
        float:none;
        clear:left;
        margin-bottom: 10px;
    }
    .tipo {
        border-radius: 5px; border:solid; border-color: white;
        zoom: 180%;
        width:100%;
        
    }
    
    .tipo:hover {
        animation-name: amla;
        animation-duration: 5s;
        animation-fill-mode: backwards;
    }
    header {
        text-align: center;

    }
    header a img {
        margin-bottom: -40px;
        margin-top: 10px;
    }
    nav {
        margin-top: -30px;
    }
}

@media only screen and (min-width:700px){
    .tipo {
        margin-top: 50px;
        text-align: center;
    }
    #cop1 {
        width: 30%;
        float: right;
    }
    .icon {
        width: 20%;
    }
    #cop2 {
        display: none;
    }
    #nov {
        border-radius: 30px 0px; border:solid; border-color: white;
        width: 48%;
        float:left;
        margin-bottom: 50px;
    }
    #tit3 {
        color:red;
        zoom: 150%
    }
    
    p {
        text-align: justify;
    }
    .dat {
        text-align: right;
    }
    #vhs {
        margin: auto;
        border-radius: 0px 30px; border:solid; border-color: crimson;
        width:48%;
        float:right;
        margin-bottom: 50px;
    }
    
    #eroi {
        width: 99%;
        border-radius: 30px; border:solid; border-color:fuchsia;
        margin-bottom: 20px;
        padding: 10px; overflow: auto;
    }
    #pA {
        border-radius: 0px 0px 25px 25px; border:solid; border-color: darkred;
        clear: both;
        width:98%;
        margin-bottom: 50px;
        padding: 10px;
    }
    .tipo p {
        border-radius: 5px; border:solid; border-color: white;
        zoom: 180%;
        width:40%;
        
    }
    
    .tipo p:hover {
        animation-name: amla;
        animation-duration: 5s;
        animation-fill-mode: backwards;
    }
}
#colagg {
    text-decoration: none;
    border-radius: 10px; border:solid; border-color: red;
}

#agg {
    text-align: center;
    zoom:150%
}
