#cf {
    color:red;
    zoom:160%;
}
#in {
    border-radius: 5px;
    border: solid;
    border-color:aqua;
}
a {
    color:aqua;
}
.cppcode:hover {
    border-radius: 5px;
    border:solid;
    border-color: aqua;
}