@media only screen and (max-width:800px) {
    #tip {
       display: none;
    }
    #sug {
        width: 25%;
        margin-top: 10px;
        border-radius: 20px; border:solid; border-color: gold;
    }
    p{
        text-align: center;
    }
    #ccc {
        border-radius: 20px; border:solid; border-color: gold;
        padding: 5px;
    }
    #man {
        text-align: center;
        zoom:300%;
        font-weight: lighter;
        font-style: oblique;
    }
    
    iframe {
        border-radius: 15px; border:solid; border-color:red;
        display: block;
        width: 100%;
        height: 300px;
    }
    .fusc{
        width: 100%; height: 500px;
    }
    h3 {
        font-size: 4vh;
        font-weight: lighter;
    }
    button {
        border-radius: 30px;
        border:solid;
        border-color:firebrick;
        color:firebrick;
        background-color: whitesmoke;
        border-spacing: 10px;
        text-decoration: none;
        border-width: 2px;
        display: inline-block;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        margin-bottom: 5;
        margin-top:5px;
    }
    .tpProj {
        width: 100%;
        text-align: center;
    }
    .titPar {
        font-size: 4vh;
        text-decoration: underline;
        text-align: center;
    }
    #what {
        width: 100%;
        text-align: center;
        border-radius: 25px;
        border: solid;
        border-color:crimson;
    }
    h4 {
        text-align: center;
        font-size: 3vh;
    }
    h3 {
        text-align: center;
    }
    .app {
        background-color: white;
        width: 100%;
        height: 30vh;
        
    }
    .cons {
        border-radius: 15px; border: solid; border-color: orangered;
        width: 100%;
        overflow: auto;
    
    }
    .jsCode {
        border-radius: 15px; border: solid; border-color: red;
        width: 100%;
        overflow: auto;
    }
    
}
#ind {
    zoom:80%;
    margin: auto;
    margin-bottom: 4px;
}

.rinq {
    border-radius: 15px; border: solid; border-color:crimson; max-width:auto; padding: 10px;
    overflow: auto;
}


@media only screen and (min-width:800px){
    #tip {
        float:right;
        text-align: right;
    }
    #sug {
        width: 25%;
        margin-top: 10px;
        border-radius: 20px; border:solid; border-color: gold;
    }
    #ccc {
        border-radius: 20px; border:solid; border-color: gold;
        padding: 5px;
    }
    #man {
        zoom:300%;
        font-weight: lighter;
        font-style: oblique;
    }
    iframe {
        border-radius: 15px; border:solid; border-color:red;
        display: block;
        width: 100%;
        
    }
    h3 {
        font-size: 4vh;
        font-weight: lighter;
    }
    button {
        border-radius: 30px;
        border:solid;
        border-color:firebrick;
        color:firebrick;
        background-color: whitesmoke;
        border-spacing: 10px;
        text-decoration: none;
        border-width: 2px;
        display: inline-block;
        width: 20%;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .tpProj {
        width: 23%;
        display: inline-block;
    }
    .titPar {
        font-size: 4vh;
        text-decoration: underline;
    }
    #what {
        width:15%;
        text-align: center;
        border-radius: 25px;
        border: solid;
        border-color:crimson;
    }
    h4 {
        font-size: 3vh;
    }
    #htmlNot {
        height: 400px;
        width: 50%;
        background-color: white;
        
    }
    #qq {
        display: none;
    }
    .fusc{
        width: 49%; height: 500px;
        display: inline;
        float: inline-start;
        margin-bottom: 20px;
    }
    .app {
        background-color: white;
        width: 68%;
        height: 30vh;
        
    }
    .sond {
        display: inline;
        width: 48%;
        height: 400px;
    }
    .cons {
        border-radius: 15px; border: solid; border-color: orangered;
        width: 32%;
        float: right;
        overflow: auto;
    
    }
    .jsCode {
        border-radius: 15px; border: solid; border-color: red;
        width: 65%;
        float: left;
        overflow: auto;
    }
    .btnGo {
        border-radius: 30px;
        border:solid;
        border-color:firebrick;
        color:firebrick;
        background-color: whitesmoke;
        border-spacing: 10px;
        text-decoration: none;
        border-width: 2px;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .btnGo:hover {
        border-radius: 30px;
        border:solid;
        background-color: firebrick;
        text-decoration: none;
        border-width: 2px;
        color:white;
    }
    .tpProj h3 {
        text-align: center;
    }
    button:disabled {
        cursor: not-allowed;
        background-color: lightgray;
    }
}
.riq {
    border-radius: 15px; border: solid; border-color: red;
    margin-bottom: 10px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 230px;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
