#tip {
    float:right;
    text-align: right;
    
    
}
#sug {
    width: 25%;
    margin-top: 10px;
    border-radius: 20px; border:solid; border-color: gold;
}
#ccc {
    border-radius: 20px; border:solid; border-color: gold;
    padding: 5px;
}
#man {
    zoom:300%;
    font-weight: lighter;
    font-style: oblique;
}
footer {
    margin-top: 620px;
}
iframe {
    border-radius: 15px; border:solid; border-color:red;
    display: block;
    
}
h3 {
    font-size: 4vh;
    font-weight: lighter;
}
button {
    width:auto;
    margin-bottom: 10px;
    border-radius: 25px;
    border: solid;
    border-color:crimson;
}
