#bacheca {
    border-radius: 15px; border:solid; border-color: gold;
    margin-bottom: 10px;
}
#icone1 {
    text-align: center;
}
#icone2 {
    text-align: center;
}
.icns {
    width: 35%;
    float:right;
    text-align: right;
}
