span {
    border-radius: 30px; border:solid; border-color:red;
}
#xx {
    border-radius: 35px; border:solid; border-color:firebrick;
    margin-bottom: 10px;
    padding-left: 10px;
}
#inn {
    border-radius: 50px; border:solid; border-color:crimson;
    margin-bottom: 30px;
    padding-left: 10px;
}
.button {
    border-radius: 5px; border:solid; border-color: grey;
    background-color: white;
    border-width: 2px;
    width:15%;
    text-align: center;
    
}
#label {
    color:black;
}
button {
    border-color:white;
}
#sub {
    color:white;
    background-color: firebrick;
    width:120px;
    border-radius: 5px; border:solid; border-color: white;
    border-width: 1px;
}
input {
    color:white;
    background-color: crimson;
    border-radius: 5px; border:solid; border-color: white;
    border-width: 1px;
}

/*@media only screen and (max-width:800px) {
    input[type=text] {
        color:white;
        background-color: crimson;
        border-radius: 5px; border:solid; border-color: white;
        border-width: 1px;
        width: 100%;
        margin-top: 10px;
    }
    label {
        text-align: left;
    }
}*/