body {
margin: 0;
padding: 0;
background: #eb8e15;
}

@media screen and (max-width: 320px) {
body {background-color:#FF8000;}
}
@media screen and (min-width: 321px) and (max-width: 481px)
{
body {background-color:#bbeb15;}
}
@media screen and (min-width: 481px) and (max-width: 769px)
{
body {background-color:#15ebde;}
}
@media screen and (min-width: 769px) and (max-width: 1024px)
{
body {background-color:#eb15e3;}
}
#what p {
    border-radius: 15px; border:solid; border-color: white;
    background-color: #133250;
    padding: 3%;
}
#what table {
    border-radius: 15px; border:solid; border-color: white;
    background-color: #133250;
    padding: 3%;
}
table {
    border-radius: 15px; border:solid; border-color: white;
}