@media only screen and (max-width:700px){
   
    nav h2 {
        display: inline-block;
        
        
    }
    nav h2 a {
        vertical-align: middle;
    }
    #t {
        clear:left;
    }
    #spz {
        display: none;
    }
    
    img.sfo {
        width: 100%;
        image-resolution:10%;
    }
    #dsk {
        display: none;
    }
    .sfi {
        max-width: 100%; display: inline; vertical-align: top;
    }
    #sfondone {
        min-width: 100%;
    }
}

@media only screen and (min-width:700px) {
    section article img:hover {
        border-radius: 15px;
        border:solid;
        border-color:darkred;
    }
    
    
    img.sfo {
        width: 49%;
        image-resolution:10%;
    }
    #t {
        vertical-align: top;
    }
    #mob {
        display: none;
    }
    .sfi {
        max-width: 35%; display: inline; vertical-align: top;
    }
    header div a {
        border-radius: 30px;
        border:solid;
        border-color:white;
        color:crimson;
        background-color: whitesmoke;
        border-spacing: 10px;
        text-decoration: none;
        border-width: 2px;
        display: inline-block;
    }
    header div {
        text-align: end;
        padding-right: 10px;
    }
    header div a:hover {
        border-radius: 30px;
        border:solid;
        border-color:royalblue;
        text-decoration: none;
        border-width: 2px;
    }

}
